body {
    background-color:rgb(122, 160, 248);
}
div {
    margin:5px;
}

form {
    margin:10px;
}

.NavContainer {
    display:flex;
    flex-direction: row;
    background-color:rgb(61, 103, 200);
    color:black;
    
}

.NavContainer div {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  color:black;
}

.NavContainer a{
    color:rgb(213, 226, 255);
}

.container {
    margin:30px;
}



fieldset {
    margin-left:40px;
    background-color: rgb(200, 214, 246);
    padding:15px;
    width:80%;
    border:3px solid black;
    border-radius: 15px;

}